{% extends "admin/base_site.html" %}
{% load i18n static jazzmin %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}


{% block content_title %} {% trans 'Dashboard' %} {% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
    <li class="breadcrumb-item">{% trans 'Dashboard' %}</li>
</ol>
{% endblock %}


{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>




{% get_side_menu using="app_list" as dashboard_list %}
{% if dashboard_list %}
{% widthratio dashboard_list|length 2 1 as middle %}
{% endif %}

<style>
    .card {
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease-in-out;
    }

    .card:hover {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    }

    .card-title {
        margin-bottom: 0.5rem;
        font-size: 1.25rem;
        font-weight: bold;
    }

    .card-text {
        font-size: 1.5rem;
        text-align: center;
    }

    .fas.fa-user {
        margin-right: 0.5rem;
    }
</style>

<div class="col-md-4 col-sm-12">
        <div class="card" style="background-color: #3498db; color: #fff;text-align:center">
            <h5 class="card-title"><i class="fas fa-user"></i> Usuarios Registrados</h5>
            <p class="card-text" id="cantidad" style="font-size: 24px; font-weight: bold;"></p>
            <script>
                $(document).ready(function () {
                    $.ajax({
                        url: "{% url 'registration:usuarios_registrados' %}",
                        type: 'GET',
                        success: function (response) {
                            console.log(response);
                            $('#cantidad').text(response.usuarios); // Cambiado a response.usuarios
                        },
                        error: function (error) {
                            console.error('Error al obtener datos:', error);
                        }
                    });
                });
            </script>
    </div>
</div>


<div class="col-md-4 col-sm-12">
    <div class="card" style="background-color: #27ae60; color: #fff; text-align:center;">
            <h5 class="card-title"><i class="fas fa-money-bill"></i> Ganancias por Mes</h5>
            <p class="card-text" id="ganancias_mes" style="font-size: 24px; font-weight: bold;"></p>
            <script>
                $(document).ready(function () {
                    $.ajax({
                        url: "{% url 'control_ventas:ganancias_mes' %}",
                        type: 'GET',
                        success: function (response) {
                            console.log(response);
                            $('#ganancias_mes').text("$"+response.ganancias); // Cambiado a response.ganancias
                        },
                        error: function (error) {
                            console.error('Error al obtener datos:', error);
                        }
                    });
                });
            </script>
        </div>
</div>

<div class="col-md-4 col-sm-12">
    <div class="card" style="background-color: #FA0A0A; color: #fff;text-align:center">
            <h5 class="card-title"><i class="fas fa-chart-bar"></i> Ventas Realizadas el dia de hoy</h5>
            <p class="card-text" id="cantidad2" style="font-size: 24px; font-weight: bold;"></p>
            <script>
                $(document).ready(function () {
                    $.ajax({
                        url: "{% url 'control_ventas:ventas_realizadas_hoy' %}",
                        type: 'GET',
                        success: function (response) {
                            console.log(response);
                            $('#cantidad2').text(response.ventas); // Cambiado a response.ventas
                        },
                        error: function (error) {
                            console.error('Error al obtener datos:', error);
                        }
                    });
                });
            </script>
    </div>
</div>


<canvas id="ventasChart" width="800" height="400"></canvas>
<script>

</script>




<div class="col-lg-12 col-12">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div id="main" style="width: 500px;height:400px;"></div>
                <script>
                    // Realizar solicitud AJAX a la API para obtener los datos
                    $(document).ready(function () {
                        $.ajax({
                            url: "{% url 'control_inventario:cantidad_stock' %}",
                            type: 'GET',
                            success: function (response) {
                                console.log(response);
                                var productos = response.map(item => item.producto);
                                var cantidadesStock = response.map(item => item.cantidad_stock);

                                var myChart = echarts.init(document.getElementById('main'));
                                var option = {
                                    title: {
                                        text: 'Cantidad en Stock'
                                    },
                                    tooltip: {},
                                    xAxis: {
                                        data: productos,
                                        axisLabel: {
                                            rotate: 38, // Ajusta el ángulo de rotación según sea necesario
                                            interval: 0, // Muestra todas las etiquetas
                                            textStyle: {
                                                fontSize: 10 // Ajusta el tamaño de la fuente si es necesario
                                            }
                                        }
                                    },
                                    yAxis: {},
                                    series: [{
                                        name: 'Cantidad Stock',
                                        type: 'bar',
                                        data: cantidadesStock
                                    }]
                                };
                                myChart.setOption(option);
                            },
                            error: function (error) {
                                console.error('Error al obtener datos:', error);
                            }
                        });
                    });
                </script>
            </div>
        </div>



        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div id="main2" style="width: 520px;height:400px;"></div>
                <script type="text/javascript">
                    var myChart2 = echarts.init(document.getElementById('main2'));

                    $.ajax({
                        url: "{% url 'control_ventas:productos_mas_vendidos' %}",
                        type: 'GET',
                        success: function (response) {
                            console.log(response);
                            var productos = response.map(item => ({
                                name: item.name,
                                value: item.value
                            }));

                            var option2 = {
                                tooltip: {
                                    trigger: 'item'
                                },
                                legend: {
                                    top: '5%',
                                    left: 'center'
                                },                              
                                series: [{
                                    name: 'Productos más vendidos del mes',
                                    type: 'pie',
                                    radius: ['40%', '70%'],
                                    avoidLabelOverlap: false,
                                    itemStyle: {
                                        borderRadius: 10,
                                        borderColor: '#fff',
                                        borderWidth: 2
                                    },
                                    label: {
                                        show: false,
                                        position: 'center'
                                    },
                                    emphasis: {
                                        label: {
                                            show: true,
                                            fontSize: 40,
                                            fontWeight: 'bold'
                                        }
                                    },
                                    labelLine: {
                                        show: false
                                    },
                                    data: productos
                                }]
                            };

                            myChart2.setOption(option2);
                        },
                        error: function (error) {
                            console.error('Error al obtener datos:', error);
                        }
                    });
                </script>



            </div>
        </div>




    </div>

</div>
<div class="col-lg-12 col-12">

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div id="main3"
                    style="width: 500;height:400px; background-color: #4CAF50; color: white; padding: 20px; display: flex; flex-direction: column; justify-content: center; align-items: center;">

                    <div style="font-size: 18px;">Total de ganancias de hoy</div>

                    <div style="font-size: 48px;" id="ganancias_hoy">

                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-6 col-sm-12">
            <div class="card">
                <canvas id="ventasPorEmpleadoChart" style="width: 500px; height: 400px;"></canvas>
                <script>
                    $(document).ready(function () {
                        $.ajax({
                            url: "{% url 'registration:empleado_mas_ventas' %}",
                            type: 'GET',
                            success: function (response) {
                                console.log(response);
                                var empleados = response.map(item => item.empleado);
                                var ventas = response.map(item => item.ventas);

                                var ctx = document.getElementById('ventasPorEmpleadoChart').getContext('2d');
                                var myChart = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: empleados,
                                        datasets: [{
                                            label: 'Ventas por empleado',
                                            data: ventas,
                                            backgroundColor: [
                                                'rgba(255, 99, 132, 0.2)',
                                                'rgba(54, 162, 235, 0.2)',
                                                'rgba(255, 206, 86, 0.2)',
                                                'rgba(75, 192, 192, 0.2)',
                                                'rgba(153, 102, 255, 0.2)',
                                                'rgba(255, 159, 64, 0.2)'
                                            ],
                                            borderColor: [
                                                'rgba(255, 99, 132, 1)',
                                                'rgba(54, 162, 235, 1)',
                                                'rgba(255, 206, 86, 1)',
                                                'rgba(75, 192, 192, 1)',
                                                'rgba(153, 102, 255, 1)',
                                                'rgba(255, 159, 64, 1)'
                                            ],
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                });
                            },
                            error: function (error) {
                                console.error('Error al obtener datos:', error);
                            }
                        });
                    }); 
                    
                
                </script>
            

                            
                  
            </div>
        </div>
        




    </div>

</div>


<script>
    $(document).ready(function () {

        $.ajax({
            url: "{% url 'control_ventas:total_ventas_hoy' %}",
            type: 'GET',
            success: function (response) {
                ganancias_hoy = response.total;
                console.log(ganancias_hoy);
                $('#ganancias_hoy').text('$ ' + ganancias_hoy);
            }
        });
    });
</script>




{% endblock %}