{% load i18n admin_urls static admin_modify %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<div class="js-inline-admin-formset inline-group" id="{{ inline_admin_formset.formset.prefix }}-group"
    data-inline-type="tabular" data-inline-formset="{{ inline_admin_formset.inline_formset_data }}">
    <div class="tabular inline-related {% if forloop.last %}last-related{% endif %}">
        {{ inline_admin_formset.formset.management_form }}
        <fieldset class="module {{ inline_admin_formset.classes }}">
            {{ inline_admin_formset.formset.non_form_errors }}
            {% if app_label == 'control_ventas' %}
            {% comment %} select categorias {% endcomment %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

            <div class="">
                <select name="categoria" id="id_categoria">
                    <option value="">Categoria</option>

                </select>
            </div>

            <script>
                $(document).ready(function () {


                    // cuando se seleccione una categoria actualizar el select de productos
                    $('#id_categoria').on('select2:select', function (e) {
                        var categoria_id = $(this).val();
                        console.log("categoria_id: " + categoria_id);
                        var url_api = "/api/productos_categoria/";
                        if (categoria_id == "") {
                            url_api = "/api/productos/";
                        }

                        $.ajax({
                            url: url_api,
                            type: 'get',
                            dataType: 'json',
                            data: {
                                categoria: categoria_id
                            },
                            success: function (response) {
                                $('select[name$="producto"]').each(

                                    function () {
                                        // Verificar si el select ya tiene opciones
                                        if ($(this).val() != "") {
                                            return; // Si ya tiene opciones, salir del bucle para este select
                                        }

                                        // Limpiar opciones existentes y agregar la opción por defecto
                                        $(this).find('option').remove().end().append(
                                            '<option value="">---------</option>');

                                        // Agregar opciones del response
                                        for (var i = 0; i < response.length; i++) {
                                            var id = response[i].id;
                                            var name = response[i].nombre;
                                            var option = "<option value='" + id + "'>" +
                                                name +
                                                "</option>";
                                            $(this).append(option);
                                        }
                                    });

                            }
                        });


                    });

                    // hacer que el id id_detalles-__prefix__-cantidad sea readonly
                    $('#id_detalles-__prefix__-cantidad').prop('readonly', true);

                    if ($('select[name$="producto"]').val() == "") {
                        var numero_fila = $('select[name$="producto"]').attr('name').split('-')[1];

                        // obtener el input de la cantidad de la misma fila y hacer que sea readonly
                        var cantidad = $('input[name="detalles-' + numero_fila + '-cantidad"]').prop('readonly',
                            true);
                    }

                    // agregar un span al lado de "tabular inline-related last-related" que diga "total"
                    var totalSpan = $('<span id="totalventa">Total: $0.00</span>');
                    $('.tabular.inline-related.last-related').after(totalSpan);
                    // hacer que el texto aparezca pegado al borde derecho
                    totalSpan.css('float', 'right');
                    // agregar 50% de margen a la derecha
                    totalSpan.css('margin-right', '20%');

                    var readonlyDiv = $('.form-group.field-fecha .readonly');
                    readonlyDiv.text(new Date().toLocaleDateString());

                    // agregar columna de el usuario logueado abajo de la fecha class="flex-container"
                    //  si hay objeto "obj" en el contexto de la vista no mostrar lo de abajo
                    // {% if  original %}


                    // {% else %}
                    var userDiv = $(
                        '<div class="form-group field-empleado"><div class="row"><label class="col-sm-3 text-left" for="id_empleado">Empleado:</label><div class="col-sm-7 field-empleado"><div class="readonly">{{ user }}</div></div></div></div>'
                    );
                    $('.form-group.field-fecha').after(userDiv);
                    // {% endif %}

                    // agregar columna de precio
                    $('th.column-cantidad').after('<th class="column-precio">Precio</th>');
                    $('td.field-cantidad').after('<td class="field-precio">-</td>');

                    $.ajax({
                        url: "/api/categorias/",
                        type: 'get',
                        dataType: 'json',
                        success: function (response) {
                            var len = response.length;
                            for (var i = 0; i < len; i++) {
                                var id = response[i].id;
                                var name = response[i].nombre;
                                var option = "<option value='" + id + "'>" + name + "</option>";
                                $("#id_categoria").append(option);
                            }
                        }
                    });

                    // si hay un producto seleccionado, obtener el precio y mostrarlo en la columna precio
                    $('select[name$="producto"]').each(function () {
                        // mostrar el id del select
                        console.log('id: ' + $(this).attr('id'));
                        var producto_id = $(this).val();
                        //console.log("producto_id: " + producto_id);
                        var fila = $(this).attr('name');
                        fila = fila.split('-')[1];
                        if (producto_id == "") {
                            return;
                        }
                        $.ajax({
                            url: "/api/productos/" + producto_id + "/",
                            type: 'get',
                            dataType: 'json',
                            data: {
                                producto: producto_id
                            },
                            success: function (response) {
                                var precio = response.precioventa;

                                $('select[name^="detalles-' + fila + '-producto"]').closest(
                                        'tr').find('td.field-precio')
                                    .text(precio);
                                $('select[name^="detalles-' + fila + '-producto"]').closest(
                                        'tr').find('td.field-importe')
                                    .text(precio * $('select[name^="detalles-' + fila +
                                        '-producto"]').closest('tr').find(
                                        'input[name$="cantidad"]').val());

                                // calcular total
                                var total = 0;
                                $('td.field-importe').each(function () {
                                    var importeText = $(this).text().trim();
                                    if (importeText && !importeText.includes('-')) {
                                        total += parseFloat(importeText);
                                    }
                                });
                                $('#totalventa').text('Total: $' + total.toFixed(2));
                            }
                        });
                    });

                    // cuando los detalles-__prefix__-producto cambien, actualizar el precio


                    $(document).on('select2:select', 'select[name$=producto]', function () {
                        console.log('cambio');
                        var producto_id = $(this).val();
                        console.log(producto_id);
                        var fila = $(this).attr('name');
                        fila = fila.split('-')[1];
                        if (producto_id == "") {
                            // restar al total
                            var total = 0;
                            //obtener total actual
                            var total = parseFloat($('#totalventa').text().split('$')[1]);
                            // restar el importe de la fila
                            var importe = parseFloat($('select[name^="detalles-' + fila + '-producto"]')
                                .closest('tr').find(
                                    'td.field-importe').text());
                            total -= importe;
                            // si no se ha seleccionado un producto, borrar el texto de la columna precio
                            $('select[name^="detalles-' + fila + '-producto"]').closest('tr').find(
                                'td.field-precio').text('-');
                            $('select[name^="detalles-' + fila + '-producto"]').closest('tr').find(
                                'td.field-importe').text(
                                '-');
                            $('select[name^="detalles-' + fila + '-producto"]').closest('tr').find(
                                'input[name$=cantidad]').val(
                                '');
                            // read only cantidad
                            $('select[name^="detalles-' + fila + '-producto"]').closest('tr').find(
                                    'input[name$=cantidad]')
                                .attr(
                                    'readonly', true);
                            // total a 0
                            $('#totalventa').text('Total: $' + total.toFixed(2));
                            // cantidad a 0
                            return;
                        }
                        // quitar readonly
                        $('select[name^="detalles-' + fila + '-producto"]').closest('tr').find(
                            'input[name$=cantidad]').attr(
                            'readonly',
                            false);
                        $.ajax({
                            url: "/api/productos/" + producto_id + "/",
                            type: 'get',
                            dataType: 'json',
                            data: {
                                producto: producto_id
                            },
                            success: function (response) {
                                // extraer x de name=detalles-x-producto

                                var precio = response.precioventa;
                                console.log("precio:" + precio);

                                $('select[name^="detalles-' + fila + '-producto"]').closest(
                                    'tr').find(
                                    'td.field-precio').text(
                                    precio);
                                $('select[name^="detalles-' + fila + '-producto"]').closest(
                                    'tr').find(
                                    'td.field-importe').text(
                                    precio * $('select[name^="detalles-' + fila +
                                        '-producto"]').closest('tr')
                                    .find(
                                        'input[name$=cantidad]').val());
                                // calcular total
                                var total = 0;
                                // todos menos el último
                                $('td.field-importe').each(function () {
                                    console.log("dato: " + $(this).text());
                                    // si tiene un en su texto un "-" no sumar
                                    if ($(this).text().includes('-')) {
                                        return;
                                    }
                                    total += parseFloat($(this).text());
                                });
                                $('#totalventa').text('Total: $' + total.toFixed(2));
                            }
                        });
                    });


                });
            </script>



            {% endif %}
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th class="original"></th>
                        {% for field in inline_admin_formset.fields %}
                        {% if not field.widget.is_hidden %}
                        <th class="column-{{ field.name }}{% if field.required %} required{% endif %}">
                            {{ field.label|capfirst }}
                            {% if field.help_text %}<img src="{% static "admin/img/icon-unknown.svg" %}"
                                class="help help-tooltip" width="10" height="10" alt="({{ field.help_text|striptags }})"
                                title="{{ field.help_text|striptags }}">{% endif %}
                        </th>
                        {% endif %}
                        {% endfor %}
                        {% if inline_admin_formset.formset.can_delete and inline_admin_formset.has_delete_permission %}
                        <th>{% trans "Delete?" %}</th>{% endif %}
                    </tr>
                </thead>

                <tbody>
                    {% for inline_admin_form in inline_admin_formset %}
                    {% if inline_admin_form.form.non_field_errors %}
                    <tr class="row-form-errors">
                        <td colspan="{{ inline_admin_form|cell_count }}">{{ inline_admin_form.form.non_field_errors }}
                        </td>
                    </tr>
                    {% endif %}
                    <tr class="form-row{% if inline_admin_form.original or inline_admin_form.show_url %} has_original{% endif %}{% if forloop.last and inline_admin_formset.has_add_permission %} empty-form{% endif %}"
                        id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
                        <td class="original">
                            {% if inline_admin_form.original or inline_admin_form.show_url %}
                            <p>
                                {% if inline_admin_form.original %}
                                {% if inline_admin_form.model_admin.show_change_link and inline_admin_form.model_admin.has_registered_model %}
                                <a href="{% url inline_admin_form.model_admin.opts|admin_urlname:'change' inline_admin_form.original.pk|admin_urlquote %}"
                                    class="{% if inline_admin_formset.has_change_permission %}inlinechangelink{% else %}inlineviewlink{% endif %}">
                                    {% if inline_admin_formset.has_change_permission %}
                                    <i class="fas fa-pencil-alt fa-sm"> </i>
                                    {% else %}
                                    <i class="fas fa-eye fa-sm"> </i>
                                    {% endif %}
                                </a>
                                {% endif %}

                                {% if inline_admin_form.show_url %}
                                <a href="{{ inline_admin_form.absolute_url }}" title="{% trans "View on site" %}">
                                    <i class="fas fa-eye fa-sm"> </i>
                                </a>
                                {% endif %}
                                {% endif %}
                            </p>
                            {% else %}
                            <i class="fas fa-plus fa-sm text-success"> </i>
                            {% endif %}
                            {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
                            {% if inline_admin_form.fk_field %}{{ inline_admin_form.fk_field.field }}{% endif %}
                            {% spaceless %}
                            {% for fieldset in inline_admin_form %}
                            {% for line in fieldset %}
                            {% for field in line %}
                            {% if not field.is_readonly and field.field.is_hidden %}{{ field.field }}{% endif %}
                            {% endfor %}
                            {% endfor %}
                            {% endfor %}
                            {% endspaceless %}
                        </td>
                        {% for fieldset in inline_admin_form %}
                        {% for line in fieldset %}
                        {% for field in line %}
                        {% if field.is_readonly or not field.field.is_hidden %}
                        <td {% if field.field.name %} class="field-{{ field.field.name }}" {% endif %}>
                            {% if field.is_readonly %}
                            <p>{{ field.contents }}</p>
                            {% else %}
                            {{ field.field }}
                            <div class="help-block text-red">
                                {{ field.field.errors.as_ul }}
                            </div>
                            {% endif %}
                        </td>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                        {% endfor %}
                        {% if inline_admin_formset.formset.can_delete and inline_admin_formset.has_delete_permission %}
                        <td class="delete">
                            {% if inline_admin_form.original %}{{ inline_admin_form.deletion_field.field }}{% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
    </div>
</div>



<div class="modal" id="modal-venta" tabindex="-1" role="dialog" aria-labelledby="modalVentaLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalVentaLabel">Realizar Venta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Productos:</p>
                <ul id="productos-seleccionados">
                    <!-- Aquí se mostrarán los productos seleccionados -->
                </ul>
                <p>Total: <span id="modal-totalventa"></span></p>
                <label for="dinero-recibido">Dinero recibido:</label>
                <input type="number" class="form-control" id="dinero-recibido">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="calcular-modal">Calcular Cambio</button>
                <button type="button" class="btn btn-primary" onclick="verificarExistencias()">Finalizar Venta</button>
                <input type="submit" class="btn btn-primary" id="submit-venta" style="display: none;">
            </div>
        </div>
    </div>
</div>


{% if app_label == 'control_ventas' %}


<script>


// Función para verificar las existencias de los productos seleccionados
function verificarExistencias() {
    var productosSinExistencias = [];
    // Se recorren todos los productos seleccionados
    $('select[name$="producto"]').each(function () {
        var productoSeleccionado = $(this).find('option:selected');
        var cantidad = $(this).closest('tr').find('input[name$=cantidad]').val();

        // Se verifica si se ha seleccionado un producto y se obtiene su ID
        if (productoSeleccionado && productoSeleccionado.val() !== '') {
            var producto_id = productoSeleccionado.val();

            // Se realiza una petición AJAX para obtener la cantidad en existencia del producto seleccionado
            $.ajax({
                url: "/api/cantidad-productos/",
                type: 'get',
                dataType: 'json',
                data: {
                    id_producto: producto_id
                },
                success: function (response) {
                    var cantidadExistente = response[0].cantidad_stock
                     // Se verifica si la cantidad seleccionada es mayor a la cantidad en existencia
                     if (parseInt(cantidad) > cantidadExistente) {
                        // Se agrega el producto con existencias insuficientes al array
                        productosSinExistencias.push(productoSeleccionado.text());
                    }
                    var mensajeError = "No hay suficientes existencias de los siguientes productos: ";
                    // Si hay productos con existencias insuficientes, se muestra un mensaje de error
                    if (productosSinExistencias.length > 0) {
                        mensajeError += productosSinExistencias.join(', ');
                        Swal.fire({
                            title: 'Error',
                            text: mensajeError,
                            icon: 'error',
                            confirmButtonText: 'Aceptar'
                        });
                    } 
                    //si no hay productos sin existencias se imprime el ticket u se realiza la venta
                    if (productosSinExistencias.length === 0) {
                        printTicket();
                        $('#submit-venta').click();
                    }
                    
                   
               }
            });
        }
    });
}

    

    //fuccion para imprimir el ticket de la venta por medio de la impresora que este conectada
            //la impresora es una EPSON L5190 Series 

    function printTicket() {
        var productosSeleccionados = [];
        var preciosSeleccionados = [];
        var cantidadSeleccionada = [];
        var total = 0;
        $('select[name$="producto"]').each(function () {
            var productoSeleccionado = $(this).find('option:selected').text();
            var precioSeleccionado = $(this).closest('tr').find('.field-precio').text();
            var cantidad = $(this).closest('tr').find('input[name$=cantidad]').val();
            if (productoSeleccionado && productoSeleccionado !== '---------') {
                productosSeleccionados.push(productoSeleccionado);
                preciosSeleccionados.push(precioSeleccionado);
                cantidadSeleccionada.push(cantidad);
                total += parseFloat(precioSeleccionado) * parseFloat(cantidad);
            }
        });
        var ticket = '<h1>Ticket de Venta</h1>';
        ticket += '<p>Fecha: ' + new Date().toLocaleDateString() + '</p>';
        ticket += '<p>Productos:</p>';
        ticket += '<ul>';
        for (var i = 0; i < productosSeleccionados.length; i++) {
            var producto = productosSeleccionados[i];
            var precio = preciosSeleccionados[i];
            var cantidad = cantidadSeleccionada[i];
            ticket += '<li>' + producto + ' - $' + precio + ' - Cantidad: ' + cantidad + '</li>';
        }
        ticket += '</ul>';
        ticket += '<p>Total: $' + total.toFixed(2) + '</p>';
        ticket += '<p>Gracias por su compra</p>';
        var mywindow = window.open('', 'PRINT', 'height=400,width=600');
        mywindow.document.write('<html><head><title>' + document.title + '</title>');
        mywindow.document.write('</head><body>');
        mywindow.document.write(ticket);
        mywindow.document.write('</body></html>');
        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10
        mywindow.print();
        mywindow.close();
    }
    

   
    
    // Controlador de eventos para cambios en la tabla
$(document).on('change', 'select[name$="producto"], input[name$="cantidad"]', function () {
    var productosSeleccionados = [];
    var preciosSeleccionados = [];
    var cantidadSeleccionada = [];
    
    // Recopilar los datos actualizados de la tabla
    $('select[name$="producto"]').each(function () {
        var productoSeleccionado = $(this).find('option:selected').text();
        var precioSeleccionado = $(this).closest('tr').find('.field-precio').text();
        var cantidad = $(this).closest('tr').find('input[name$=cantidad]').val();
        
        if (productoSeleccionado && productoSeleccionado !== '---------') {
            productosSeleccionados.push(productoSeleccionado);
            preciosSeleccionados.push(precioSeleccionado);
            cantidadSeleccionada.push(cantidad);
        }
    });
    
    // Actualizar el contenido del modal
    var total = 0;
    $('#productos-seleccionados').empty();
    
    for (var i = 0; i < productosSeleccionados.length; i++) {
        var producto = productosSeleccionados[i];
        var precio = preciosSeleccionados[i];
        var cantidad = cantidadSeleccionada[i];
        var li = '<li>' + producto + ' - $' + precio + ' - Cantidad: ' + cantidad + '</li>';
        $('#productos-seleccionados').append(li);
        total += parseFloat(precio) * parseFloat(cantidad);
    }
    
    $('#modal-totalventa').text('$' + total.toFixed(2));
});


    $(document).ready(function () {
        // Cambia el valor del botón "Guardar" por "Realizar venta"
        $('input[type="submit"]').each(function () {
            if ($(this).val() == 'Guardar') {
                $(this).val('Realizar venta');
            }
        });
    
       // Controlador de eventos click para el botón "Realizar venta"
    $('input[type="submit"]').click(function (e) {
        if ($(this).val() == 'Realizar venta') {
            var productosSeleccionados = [];
            var preciosSeleccionados = [];
            var cantidadSeleccionada = [];
            $('select[name$="producto"]').each(function () {
                var productoSeleccionado = $(this).find('option:selected').text();
                var precioSeleccionado = $(this).closest('tr').find('.field-precio').text();
                var cantidad = $(this).closest('tr').find('input[name$=cantidad]').val();
                if (productoSeleccionado && productoSeleccionado !== '---------') {
                    productosSeleccionados.push(productoSeleccionado);
                    preciosSeleccionados.push(precioSeleccionado);
                    cantidadSeleccionada.push(cantidad);
                }
            });
            if (productosSeleccionados.length === 0) {
                e.preventDefault();
                Swal.fire({
                    title: 'Error',
                    text: 'No se puede realizar una venta sin productos',
                    icon: 'error',
                    confirmButtonText: 'Aceptar'
                });
            } else {
                e.preventDefault();
                var total = parseFloat($('#totalventa').text().split('$')[1]);
                $('#modal-totalventa').text('$' + total.toFixed(2));
                $('#productos-seleccionados').empty();
                for (var i = 0; i < productosSeleccionados.length; i++) {
                    var producto = productosSeleccionados[i];
                    var precio = preciosSeleccionados[i];
                    var cantidad = cantidadSeleccionada[i];
                    var li = '<li>' + producto + ' - $' + precio + ' - Cantidad: ' + cantidad + '</li>';
                    $('#productos-seleccionados').append(li);
                }
                $('#modal-venta').modal('show');

                
            }
        }
    });



    
        // Controlador de eventos click para el botón "Calcular Cambio"
        $('#calcular-modal').click(function () {
            var recibido = parseFloat($('#dinero-recibido').val());
            var total = parseFloat($('#modal-totalventa').text().split('$')[1]);
            var cambio = recibido - total;
            // Mostrar el cambio en un SweetAlert
            Swal.fire({
                title: 'Cambio',
                text: 'Su cambio es de: $' + cambio.toFixed(2),
                icon: 'success',
                confirmButtonText: 'Aceptar'
            }).then((result) => {
                // Si se confirma el cambio en el SweetAlert, enviar el formulario de venta
                if (result.isConfirmed) {
                    $('#form-venta').submit();
                }
            });
        });
    });
    

</script>

<script type="text/javascript">



    // * cuando la cantidad cambie, actualizar el subtotal de la fila
    $(document).on('change', 'input[name$=cantidad]', function () {
        var cantidad = $(this).val();
        var fila = $(this).attr('name');
        fila = fila.split('-')[1];
        var precio = $('select[name^="detalles-' + fila + '-producto"]').closest('tr').find('td.field-precio')
            .text();
        console.log(precio);
        var subtotal = cantidad * precio;
        $('select[name^="detalles-' + fila + '-producto"]').closest('tr').find('td.field-importe').text(
            subtotal);
        // calcular total
        var total = 0;
        // todos menos el último
        $('td.field-importe').each(function () {
            console.log("dato: " + $(this).text());
            // si tiene un en su texto un "-" no sumar
            if ($(this).text().includes('-')) {
                return;
            }
            total += parseFloat($(this).text());
        });
        $('#totalventa').text('Total: $' + total.toFixed(2));

    });
</script>

{% endif %}